#map_canvas{
	width:500px;
	height:500px;
	margin-left:30px;
}

html{
	font-family: Arial;
}

a, a:hover, a:active, a:visited{
	color:#000;
	font-weight:bold;
}

p{
	margin-right:100px;
	margin-left:30px;
	font-size:14px;
	line-height: 12px;
}

div.left{
	float:left;
}

div.centre p{
	margin-left:50px;
}

div#results{
	margin-right:0;
	float:left;
}